<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>点餐系统后台管理-订单管理</title>
    <link rel="stylesheet" href="/admin/css/foodadmin.css">
</head>

<body>
    <% include common/top.ejs%>
        <div class="foodDiv">
            <div class="foodTable">
                <table border="1" cellspacing="0">
                    <tr>
                        <th>
                            收货人
                        </th>
                        <th>
                            收货人手机号
                        </th>
                        <th>
                            收获ID
                        </th>
                        <th>
                            商品
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                    <%for(var i=0;i<foodData.length;i++){%>
                        <tr>
                            <td style="white-space : nowrap;">
                                <%=foodData[i].NAME%>
                            </td>
                            <td style="white-space : nowrap;">
                                <%=foodData[i].IPHONE%>
                            </td>
                            <td style="white-space : nowrap;">
                                <%=foodData[i].BINDID%>
                            </td>
                            <td class="FOODJSON">
                                <% for (var j=0; j < foodData[i].FOODJSON.length; j++) {%>
                                    <%=foodData[i].FOODJSON[j].num%>*<%=foodData[i].FOODJSON[j].name%>
                                            <br>
                                            <% } %>
                            </td>
                            <td style="white-space : nowrap;">
                                <a href="?action=good&orderid=<%=foodData[i].oderid%>">
                                    <img src="https://static01.imgkr.com/temp/f1ffd823a405401abeadee083ae2eaf1.png"
                                        width="40px" height="40px" alt="完成" title="完成">
                                </a>
                                <a href="" onclick="return confirm('确定删除？')">
                                    <img src="https://static01.imgkr.com/temp/32bab1680caf4269b4ec0e4abb486b51.png"
                                        width="40px" height="40px" alt="删除" title="删除">
                                </a>
                            </td>
                        </tr>
                        <%}%>
                </table>
            </div>
            <div>

            </div>
        </div>
</body>

</html>